.bgimg{
    z-index: -1;
    position: absolute;
    background-image: url(../public/landscape.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 225%;
    padding-top: 66.64%;
}