@media (max-width: 1188px){
  .section{
    padding: 0 5rem;
  }
}
@media (min-width: 1188px){
  .section{
    padding: 0 10rem;
  }
}

.logoSection{

}

.logo{
  padding-top: 20vh;
  /* border: 2px solid white; */
  width: 100%;
  image-rendering: pixelated;
}

.clouds{
    /* border: 2px solid white; */
    width: 100%;
    image-rendering: pixelated;
}

@media (max-width: 1192px){
 .grid{
    display: flex; 
    flex-direction: column-reverse;
 }
}
@media (min-width: 1192px){
  .grid {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
  
  }
 }



.previewSection{
  /* overflow: hidden; */
  -webkit-mask-image: linear-gradient(90deg,transparent,#000 20%,#000 50%,transparent 90%);
  mask-image: linear-gradient(90deg,transparent,#000 20%,#000 50%,transparent 90%);
}

.housesDisplay1{
  position: relative;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  animation: movingHouses1 30s ease infinite;
}

.housesDisplay2{
  position: relative;
  margin: 3rem 0 3rem 0;
  display: flex;
  justify-content: center;
  animation: movingHouses2 30s ease infinite;
}

.houses{
  image-rendering: pixelated;
  /* border: 4px solid black; */
  margin: 0 1rem 0 1rem;
  width: 9rem;
}

@keyframes movingHouses1{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(500px);
  }
  75%{
    transform: translateX(-500px);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes movingHouses2{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-525px);
  }
  75%{
    transform: translateX(525px);
  }
  100%{
    transform: translateX(0);
  }
}

@media (max-width: 1188px){
  .description{
    font-family: ChronoType;
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem;
  }
}
@media (min-width: 1188px){
  .description{
    font-family: ChronoType;
    display: flex;
    flex-direction: column;
    padding: 6rem 7rem;
  
  }
}



.subTitle{
  color:rgb(168, 8, 147);
  font-size: 5rem;
  margin: 0%;
}

.paragarph{
  color:rgb(54, 46, 104);
  font-size: 1.5rem;
  padding-top: 10px;
}

.raritySection{
  display: inline-block;
}

@media (min-width: 470px){
  .rarityCard{
    display: flex;
    height: 15rem;
    width: 80vw;
    /* border: 2px solid white; */
  }
  .rarity{
    margin: 4rem 5rem;
  }
}
@media (max-width: 470px){
  .rarityCard{
    /* display: flex; */
    height: 15rem;
    width: 80vw;
    /* border: 2px solid white; */
  }
  .rarity{
    margin: 4rem 2rem;
  }
}


.raritySelection{
  margin: 2rem 0;
}

.rarityContent{
  margin: 4rem 0rem;
}

.invisible{
  display: none;
  
}

.oneofones{
  width: 15rem;
  width: 15rem;
}

.rareText{
  color: wheat;
}

.rareButton{
  font-family: ChronoType;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  background-color: transparent;
  border: none;
  color: rgb(54, 46, 104);
  /* box-shadow: 2px 2px 4px rgb(168, 8, 147); */
}

.rareButtonClicked{
  font-family: ChronoType;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  border-radius: 10px;
  background-color: #2b1028;
  border: none;
  color: rgb(54, 46, 104);
  box-shadow: 2px 2px 6px rgb(168, 8, 147);
}