.main1 {
  image-rendering: pixelated;
  height: auto;
  margin: 2.5rem 0;
  padding-bottom: 10rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #1D0B1B; */
}
.main {
  image-rendering: pixelated;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #1D0B1B; */
}

.centered {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0.2rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: rgb(124, 124, 124);
  text-decoration: none;
  border-radius: 10px;
  transition: 0.15s ease;
  max-width: 570px;
  font-size: 1.7rem;
  font-family: "ChronoType";
  z-index: 100;
}

.zindex100{
  z-index: 200;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

@media (max-width: 1000px){
  .logo {
    position: relative;
    top: 0;
    left: 0;
    animation: fadeIn-top 1s ease-in-out;
    max-width: 100vw;
    image-rendering: pixelated;
    content: url("../public/pixielandmobile.png");
  }
}

@media (min-width: 1000px){
  .logo {
    position: relative;
    top: 0;
    left: 0;
    animation: fadeIn-top 1s ease-in-out;
    max-width: 100vw;
    image-rendering: pixelated;
    content: url("../public/pixieland.png");
  }
}

.clouds {
  position: absolute;
  top: 70%;
  left: 0px;
  min-width: 1500px;
  width:100%;
  image-rendering: pixelated;
  opacity: 0.6;
  animation: fadeIn-bottom 1s ease-in-out;
  max-width: 100vw;
}

.pixelated {
  image-rendering: pixelated;
}

.city {
  animation: fadeIn-left 1s ease-in-out;
}

@media (min-width: 1184px) {
  .traitsBox {
    max-height: 150vh;
    max-width: 45vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1184px) {
  .traitsBox {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 
}

.trait {
  height: auto;
  width: auto;
  border: 2px solid black;
  background-color: #b5bb94;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem;
  transition: all 0.5s;
  image-rendering:pixelated;
}

.trait:hover {
  z-index: 100;
  transform: scale(1.5);
}

.chronoType {
  font-family: "ChronoType";
}

.right {
  animation: fadeIn-right 1s ease-in-out;
}

.tab {
  display: inline;
  padding-inline-end: 10px;
  line-height: normal;
  justify-content: center;
  align-items: center;
  background: none;
}

.tab button {
  border: none;
  background: none;
  color: white;
}

.tab button:hover{
  opacity: 1;
  transition: 0.2s;
}

.enabled {
  opacity: 1;
}

.disabled {
  opacity: 0.5;
}

.bar {
    box-sizing: content-box;
    height: 20px; /* Can be anything */
    position: relative;
    background: #555;
    border-radius: 10px;
    padding: 10px;
}

.bar > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

@keyframes fadeIn-top {
  0% {
      opacity: 0;
      transform: translateY(-30%);
  }
  
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}

@keyframes fadeIn-bottom {
  0% {
      opacity: 0;
      transform: translateY(50%);
  }
  
  100% {
      opacity: 0.6;
      transform: translateY(0%);
  }
}

@keyframes fadeIn-left {
  0% {
      opacity: 0;
      transform: translateX(50%);
  }
  
  100% {
      opacity: 1;
      transform: translateX(0%);
  }
}

@keyframes fadeIn-right {
  0% {
      opacity: 0;
      transform: translateX(-50%);
  }
  
  100% {
      opacity: 1;
      transform: translateX(0%);
  }
}

.image {
  padding: 1rem;
  margin: 1rem;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.3s ease-in-out;
  filter: drop-shadow(8px 8px 8px black);
}

.image:hover,
.image:focus,
.image:active {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px black);
}

.scrollimg{
  width: calc(100vw / 6);
  height: calc(100vw / 6);
}

.head a:hover,
.head a:focus,
.head a:active {
  animation: spinY 2s ease 0s ;
  margin: 10rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-decoration: underline;
  background-color: rgb(201, 201, 207);
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 100px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 6rem;
  padding-bottom: 100px;
  font-family: 'ChronoType';
}


.head {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  transform: translateZ(50px);
}

.grid {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  max-width: 1600px;
}

.grid1 {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  max-width: 1600px;
  background-color: #d6c17ebe;
  margin: 1rem 0;
  padding: 1rem 1rem;
  border-radius: 10px;
  border: 4px solid white;  
  width: fit-content;
}

.grid2 {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1600px;
  background-color: #d6c27ed0;
  margin: 1rem 0;
  padding: 1rem 1rem;
  border-radius: 10px;
  border: 4px solid white;  
}

.smallGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}

.item {
  padding-inline-end: 10px;
}

.previewSection{
  /* overflow: hidden; */
  -webkit-mask-image: linear-gradient(90deg,transparent,#000 20%,#000 50%,transparent 90%);
  mask-image: linear-gradient(90deg,transparent,#000 20%,#000 50%,transparent 90%);
  max-width: 100vw;
}

@media (min-width: 800px ) {
  .previewSection {
    max-width: 800px;
  }
}

.housesDisplay1{
  position: relative;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  animation: movingHouses1 50s ease infinite;
}

.housesDisplay2{
  position: relative;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  animation: movingHouses2 50s ease infinite;
}

.houses{
  image-rendering: pixelated;
  /* border: 4px solid black; */
  margin: 0 0.1rem;
  width: 11rem;
}

@keyframes movingHouses1{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(60%);
  }
  75%{
    transform: translateX(-60%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes movingHouses2{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-61%);
  }
  75%{
    transform: translateX(61%);
  }
  100%{
    transform: translateX(0);
  }
}

@media (max-width: 1188px){
  .description{
    font-family: ChronoType;
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem;
  }
}
@media (min-width: 1188px){
  .description{
    font-family: ChronoType;
    display: flex;
    flex-direction: column;
    padding: 6rem 7rem;
  
  }
}

.subTitle{
  color:rgb(0, 0, 0);
  font-size: 5rem;
  margin: 0%;
}

.paragraph{
  /* color:rgb(91, 80, 165); */
  color:rgb(0, 0, 0);
  font-size: 1.5rem;
  padding-top: 10px;
}

.flexcenter {
  /* height: min-content; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.butterflyLogo{
  max-height: 30vh;  
  max-width: 30vh;  
  animation: fadeIn-bottom 1s ease-in-out;
}

.scrollUp {
  content: url("https://cdn.iconscout.com/icon/free/png-256/keyboard-arrow-up-1780933-1517436.png");
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1.5rem;
  height: 5rem;
  width: 5rem;
  background-color: rgb(16, 223, 171);
  border-radius: 50%;
  z-index: 100;
  transition: margin-bottom 0.1s;
  cursor: pointer;
  opacity:50%;
  animation: fadeIn-bottom 0.5s ease-in-out;
}

.scrollUp:hover {
  opacity: 100%;
  margin-bottom: 2rem;
  /* animation: bounce 0.5s linear infinite; */
}

@keyframes bounce {
  50% {
    margin-bottom: 3rem;
  }
  100% {
    margin: 1.5rem;
  }
}

.townbg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image: url(../public/landscape.PNG); */
  background-size: contain;
  background-position: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  /* background-color: #229df2; */
  width: 100vw;
}

@media (min-width: 1024px) {
  .plane{
    position: absolute;
  }  
}

@media (max-width: 1024px) {
  .plane{
    display: hidden;
  }  
}
