
/* @media (max-width: 400px){
  
  .container {
    background-image: url("/mainimg.png");
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-size:cover;
    padding: 0 0rem;
  }
}

@media (min-width:400px){
  .container {
    background-image: url("/mainimg.png");
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-size: contain;
    padding: 0 0rem;
  }
} */

.container {
  /* background-image: url("/mainimg.png");
  background-repeat: no-repeat;
  image-rendering: pixelated;
  background-size: 100%; */
  padding: 0 0rem;
}

.main {
  background-image: url("/floating_island_02.png");
  /* background-size: 100vw; */
  background-repeat: no-repeat;
  image-rendering: pixelated;
  background-position: 50%;
  background-size:cover;
  height: 100vh;
  padding: 11rem 0;
  flex: 1;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.other {
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-wrap: wrap;
  /* max-width: 1600px; */
  padding: 1rem 0rem;

}

.griditem {
  padding: 1rem;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  border-radius: 20px;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  max-width: 550px;
  font-family: "ChronoType";
}

.gridimage{
  padding:1rem;
  margin:1rem;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  filter: drop-shadow(8px 8px 8px black);
}


.gridimage:hover,
.gridimage:focus,
.gridimage:active {
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 10px black);
  
}

.main2 {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main3{
  min-height: 100vh;
  padding: 4rem 100px 0px 100px;


}

.scrollimg{
  width: calc(100vw / 6);
  height: calc(100vw / 6);
}

.scrollingimgs{
  display:inline-block;
  position: relative;
  white-space: pre;
  overflow-block: none;
  /* transform: translateY(5.3px); */
  animation: scrollimgs 30s linear infinite; 
}

@keyframes scrollimgs {
  0%{
    left: 0%;
  }
  100%{
    left: -100vw;
  }
}

.head a:hover,
.head a:focus,
.head a:active {
  animation: spinY 2s ease 0s ;
  margin: 10rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-decoration: underline;
  background-color: rgb(201, 201, 207);
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 100px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 6rem;
  padding-bottom: 100px;
}

.minttitle {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  padding-bottom: 50px;
  padding-top: 50px;
}

.head,
.title,
.description {
  text-align: center;
}

.head {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  transform: translateZ(50px);

  
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@keyframes spinY{
  0%{
    transform: rotateX(0deg) ;
  }
  100%{
    transform: rotateX(360deg);
  }
}

.playbutton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: inherit;
}

.arrowdown{
  cursor:pointer;
  transform: translateY(50px);
  max-height: 80px;
  max-width: 50px;
  animation: arrowbounce 1.25s linear infinite;
}

@keyframes arrowbounce {
  0%{
    transform: translateY(50px);
  }
  30%{
    transform: translateY(60px);
  }
  50%{
    transform: translateY(50px);    
  }
  80%{
    transform: translateY(60px);
  }
  100%{
    transform: translateY(50px);
  }
}

.arrowup{
  display: none;
  opacity: 0.5;
  border-radius: 40px;
  position:fixed;
  background-color: blue;
  right: 10px;
  bottom: 10px;
  height: 80px;
  width: 80px;
}

.arrowup:hover{
  opacity: 1;
}

.hidden{
  display: none;
}

.show{
  display: block;
}