.body {
  background-image: url("../public/mintBg.PNG");
  background-color: #229df2;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:bottom;
  height: 100vh;
}

.card{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mintPart{
  border: 4px solid white;
  border-radius: 10px;
  background-color: #c4b1748f;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: "ChronoType";
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60%;
  padding: 5rem;
  /* z-index: 0;
  transform: translateZ(-100px);   */
  text-align: center;
}

.mintPart h1{
  font-size: 4rem;
  text-decoration: underline;
}

.previewSection{
  overflow: hidden;
  -webkit-mask-image: linear-gradient(0deg,transparent,#000 50%, transparent 100%);
  mask-image: linear-gradient(0deg,transparent,#000 50%,#000 50%,transparent 100%);
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}

@media (min-width: 800px ) {
  .previewSection {
    max-width: 800px;
  }
}

.housesDisplay1{
  z-index: -100;
  position: relative;
  margin: 3rem 3rem;
  display: table-column;
  animation: movingHouses1 20s linear infinite;
}

.housesDisplay2{
  z-index: -100;
  position: relative;
  margin: 3rem 3rem;
  display: table-column;
  animation: movingHouses2 20s linear infinite;
}

.houses{
  image-rendering: pixelated;
  /* border: 4px solid black; */
  /* margin: 0 1rem 0 1rem; */
  display: table-column;
  transition: 0.5s ease;
  width: 9rem;
}

@keyframes movingHouses1{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(72rem);
  }
}

/* @keyframes movingHouses2{
  0%{
    transform: translateY(24%);
  }
  100%{
    transform: translateY(-26%);
  }
} */

@keyframes movingHouses2{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-72rem);
  }
}

.link {
  padding: 0.5rem 1rem;
  font-family: 'ChronoType';
  color: #bdbaba;
  font-size: 1.5rem;
  transition: 0.15s ease-in-out;
}

.link:hover{
  color: #6b6b6b;
}

.mintContent {
  font-family: "ChronoType";
  font-size: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.addminusButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin: 0 1rem;
  border: none;
  cursor: pointer;
  user-select: none;
}

.tab {
  background-color: #d6c27ed0;
  padding: 1rem 1.5rem;
  border: 4px solid white;
  border-radius: 10px;
}

.amountToBuy {
  margin: 0;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.connectWallet {
  font-family: "ChronoType";
  font-size: 1.5rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.hidden {
  display: none;
}

.account{
  background-color: #3385947e;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 4px solid white;
  font-family: 'ChronoType';
  margin: 10px 0;
  color: #584d4d;
  font-size: 1.5rem;
  transition: 0.15s ease-in-out;
}

.account:hover{
  color: #6b6b6b;
}

.button {
  border: none;
  padding: 1rem;
}

.counter {
  font-size: 2rem;
  user-select: none;
}