
.container {
  padding: 0 2rem;
  min-height: 100vh;
}


.main {
  min-height: 50vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 6rem;
  text-align: left;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(11, 19, 100, 0.774);
  font-family: 'ChronoType';
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1600px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  border-radius: 10px;
  transition: 0.15s ease;
  max-width: 400px;
  font-family: 'ChronoType';
}

.card a {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.button {
  background: none;
  border: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}