.card{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mintPart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.previewSection{
  overflow: hidden;
  -webkit-mask-image: linear-gradient(0deg,transparent,#000 50%,#000 50%,transparent 90%);
  mask-image: linear-gradient(0deg,transparent,#000 50%,#000 50%,transparent 90%);
  max-width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}

@media (min-width: 800px ) {
  .previewSection {
    max-width: 800px;
  }
}

.housesDisplay1{
  position: relative;
  margin: 3rem 3rem;
  display: table-column;
  animation: movingHouses1 20s linear infinite;
}

.housesDisplay2{
  position: relative;
  margin: 3rem 3rem;
  display: table-column;
  animation: movingHouses2 20s linear infinite;
}

.houses{
  image-rendering: pixelated;
  /* border: 4px solid black; */
  /* margin: 0 1rem 0 1rem; */
  display: table-column;
  transition: 0.5s ease;
  width: 9rem;
}

@keyframes movingHouses1{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(72rem);
  }
}

/* @keyframes movingHouses2{
  0%{
    transform: translateY(24%);
  }
  100%{
    transform: translateY(-26%);
  }
} */

@keyframes movingHouses2{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-72rem);
  }
}