@media (min-width: 900px) {
    .teamPart{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 900px) {
    .teamPart{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.pfp {
    image-rendering:optimizeQuality;
    height: 10rem;
    border-radius:50%;
    border: 4px solid white;  
    transition-property: transform, box-shadow;
    transition-duration: .5s;
    cursor: pointer;
}

.pfp:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px 2px rgb(0, 0, 0, 0.5);
}

.Name {
    margin-top: 0.5rem;
    font-size: 3rem
}

.desc {
    font-size: 1.5rem;
    line-height: 20px;
}

.twitterLink {

}

.teamMember {
    color:rgb(0, 0, 0);
    margin: 2rem;
    text-align: center;
    font-family: "ChronoType";
}

.main {
    width:fit-content;
}

.Title {
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "ChronoType";
    font-size: 5rem;
}

.instaLink {
    height: 2.5rem;
}