@media (max-width: 768px){
    .main{
        background-color: #229df2;
        padding: 7rem 0;
        display: flex;
        flex-direction: column;
    }    
}

@media (min-width: 768px){
    .main{
        background-color: #229df2;
        padding: 7rem 10rem;
        display: flex;
        flex-direction: column;
    }
}

.cover{
    background-color: #229df2;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:bottom;
    height: 100vh;
}

.imgRender{
    image-rendering:crisp-edges;
}

.imageSize{
    height:fit-content;
}

.DIV{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    image-rendering: pixelated;
}