@media (max-width: 768px){
    .main{
        background-color: #229df2;
        padding: 7rem 0;
        display: flex;
        flex-direction: column;
    }    
}

@media (min-width: 768px){
    .main{
        background-color: #229df2;
        padding: 7rem 10rem;
        display: flex;
        flex-direction: column;
    }
}

.cover{
    background-color: #229df2;
    height: 100vh;
}