 
 .footer {
    padding: 2rem 0px;
  }

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1600px;
  }
  
  .footerimage {
    image-rendering: pixelated;
  }
  
  .link {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    font-family: 'ChronoType';
    color: #000000;
    text-rendering:optimizeLegibility;
    font-size: 2.5rem;
    transition: 0.15s ease-in-out;
    cursor: pointer;
  }

  .link:hover{
    color: #6b6b6b;
  }

  .right {
    margin-left: auto;
  }

  .Navbar{
    position: absolute;
    top: 2rem;
    right: 2rem;
    margin-left: 80%;
    /* background-color: rgb(61, 61, 61); */
    /* border: 1px solid rgb(255, 255, 255); */
    border: none;
    justify-content: left ;
    display: flex;
  }

  .centered {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contain {
    /* margin-right: 0%; */
    width: 100vw;
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .account {
    color: white;
  }

  .Brand{
    margin-left: 0%;
    justify-content: left;
  }

  .mainNav {
    /* margin: 1.5rem 0; */
    /* background-color: #6b6b6b; */
  }

  .mintNav {
    position: absolute;
    background-color: #229df2;
  }

  .miniLogo {
    height: 5rem;
    max-height: 5rem;
    position:absolute;
    margin: 0 1rem;
    left: 0;
    transform: rotateZ(350deg);
  }

  .scrollTabs {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 6rem;
    align-items: center;
  }

  .connectWallet {
    /* display: flex; */
    /* position: absolute;
    right: 0; */
  }

  .sideLogo {
    display: flex;
    flex: none;
    width: 5rem;
    /* justify-content: left;
    display: flex; */
    /* margin: 0 1rem; */
    /* position: absolute; */
    transition: transform 0.5s;
    margin:0 1rem;
    /* transform: rotateZ(350deg); */
    max-width: 5.5rem;
    cursor: pointer;
  }

  .sideLogo:hover {
    /* width: 5.2rem; */
    transform: scale(1.1) rotateZ(350deg);
  }

  .twitterLogo{
    display: flex;
    justify-content: center;
    align-items: center;
  }