 
 .footer {
    padding: 2rem 0px 2rem 0px;
    /* background-image: url('/2.png');
    background-size: auto 100%;
    image-rendering: pixelated; */
    font-family: 'ChronoType';
  }

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1600px;
  }
  
  .footerimage {
    image-rendering: pixelated;
  }
  
  .logo {
    margin-left: 0.5rem;
  }
  

  .link {
    padding: 0.5rem 1rem;
    font-family: 'ChronoType';
    color: #bdbaba;
    font-size: 1.5rem;
    transition: 0.15s ease-in-out;
    border-bottom: 2px solid rgba(128, 128, 128, 0);
  }

  .larger {
    font-size: 2.5rem;
  }

  .link:hover{
    color: #6b6b6b;
    border-bottom: 2px solid rgb(123, 124, 123);
  }

  .right {
    margin-left: auto;

  }

  .padded {
    padding: 1rem;
    text-align: left;
    color: #0965ce;
  }

  .Navbar{
    background-color: rgb(61, 61, 61);
    border: 1px solid rgb(255, 255, 255);
  }

  .contain {
    margin-right: 0%;
  }

  

  .accname{
  }

  .Brand{
    margin-left: 0%;
    justify-content: left;
  }